@model Bai_Thi_Ky_02_2019_2020.Models.Congnhan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Congnhan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenCongNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenCongNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamSinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamSinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuocVe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuocVe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDiemCachLyNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDiemCachLyNavigation.Madiemcachly)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaCongNhan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
