@model IEnumerable<Bai_Thi_Ky_02_2019_2020.Models.Diemcachly>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tendiemcachly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tendiemcachly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Madiemcachly">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Madiemcachly">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Madiemcachly">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
